*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: green;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
   height: 70vh;
   width: 60%;
   background-color: yellow;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
}
#btn{
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: blue;
}

   
